.photo-frame {
  background-image: url('~static/photo-frame.svg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
  position: relative;
  height: 450px;
  width: 480px;
}

.photo {
  position: absolute;
  height: 300px;
  width: auto;
  left: 25%;
  top: 10%;
  border-radius: 25%;
}
